:root{
    --key-size: 5vw;
    --letter-size: 3.5vw;
}

#textArea {
    height: 40vh;
    text-align: right;
    background-color: rgb(228, 235, 238);
    border: 2px solid black;
    margin: 5px;
}

#keyboard {
    display: grid;
    justify-content: center;
    margin: 10px;
}

#row1 {
    display: grid;
    grid-template-columns: repeat(12, auto);
    justify-content: center;
}

#row2 {
    display: grid;
    grid-template-columns: repeat(11, auto);
    justify-content: center;
}

#row3 {
    display: grid;
    grid-template-columns: repeat(10, auto);
    justify-content: center;
}

#row4 {
    display: grid;
    justify-content: center;
}

button {
    width: var(--key-size);
    height: var(--key-size);
    color: white;
    background-color: black;
    border-radius: 5px;
    font-size: var(--letter-size);
    text-align: center;
    margin: 1px;
}

#space {
    width: calc(var(--key-size)*4);
}